<h3>Edit This Hub</h3>

<%= form_for @hub do |f| %>

<div class="aForm">

  <p>
    <%= f.label :acc_link %>
      <br>
    <%= f.text_field :acc_link %>
  </p>

  <p>
    <%= f.label :photo_url %>
      <br>
    <%= f.text_field :photo_url %>
  </p>

  <p>
    <%= f.label :title %>
      <br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %>
      <br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>


<%= form_for @hub, method: :delete do |f| %>
  <%= f.submit value="Delete"%>
<% end %>

<% end %>
</div>
