<p>
  <%= link_to "settings", edit_user_path(session[:user]["id"])  %>
</p>
<p>
  <%= link_to "add a hub", new_hub_path %>
</p>
<h1>Dashboard</h1>

<% @hubs.each do |hub| %>
    <div class="aHub">
      <h2>
        <a href="<%= hub.acc_link %>" target="_blank">
          <%= hub.title %>
        </a>
      </h2>

      <p> <img  alt="" src="<%= hub.photo_url%>"/> </p>

      <p> <%= hub.description %> </p>
      <p class='editHub'>
        <%= link_to 'Edit ' + hub.title, edit_hub_path(hub) %>
      </p>
    </div>
  <% end %>
