<div class="dashboard">

  <div class="dHeading">
    <h1>Dashboard</h1>
  </div>

  <div class="dControls">
    <%= link_to "NEW HUB", new_hub_path %>
    <%= link_to "SETTINGS", edit_user_path(current_user)  %>
  </div>
</div>

<% @hubs.each do |hub| %>
    <div class="aHub">
        <h2>
          <a class="hub_link" href="<%= hub.acc_link %>" target="_blank">
            <%= hub.title %>
          </a>
        </h2>

        <p> <img class="hub_img" alt="" src="<%= hub.photo_url%>"/> </p>

        <p class="hub_info"> <%= hub.description %> </p>
        <p class='editHub'>
          <%= link_to 'Edit', edit_hub_path(hub) %>
        </p>
    </div>
  <% end %>
