<!DOCTYPE html>
<html>
<head>
  <title>Socialhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain">
    <%= link_to "Home", '/' %>

    <%= link_to "Create New Hub", new_hub_path %>

    <%= link_to "Sign In", "#" %>

    <%= link_to "Create Account", "#" %>

    <%= link_to "People", "#" %>

    <%= yield %>
  </div>
</body>
</html>
