<!DOCTYPE html>
<html>
<head>
  <title>Socialhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain">
    <nav class="user_controls">
      <%= link_to "Home", '/' %>
      <%= link_to "Create New Hub", new_hub_path %>
      <%= link_to "People", "#" %>

      <% if session[:user] %>
        <a href="/sign_out"><%= session[:user]["email"] %>: sign out</a></h2>
      <% else %>
        <a href="/sign_up">Sign up</a>
        <a href="/sign_in">Sign in</a>
      <% end %>

      <h3>
        <%= flash[:notice] %>
      </h3>
    </nav>

    <section class="content">
      <%= yield %>
    </section>
  </div>
</body>
</html>
