<!DOCTYPE html>
<html>

<head>
  <title>Socialhub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
</head>

<body>


  <nav class="top_nav">

    <div class="nav-section">
      <p> <%= link_to 'Explore Random User', '/users' %> </p>
    </div>

    <div class="nav-section">
      <h1><%= link_to "SocialHub", '/' %></h1>
    </div>

    <div class="nav-section">
      <% if session[:user] %>
        <p>
         <img class="navImg" src="<%= session[:user]['photo_url'] %>">
          <%= link_to session[:user]["first_name"], user_path(session[:user]["id"]) %>
        </p>
        <p> <a href="/sign_out">SIGN OUT</a> </p>
      <% else %>
        <p> <a href="/sign_up">SIGN UP</a> </p>
        <p> <a href="/sign_in">SIGN IN</a> </p>
      <% end %>
    </div>

  </nav>


  <div class="wrap">
    <%= flash[:notice] %>
    <%= yield %>
  </div>


</body>

</html>
